In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from numpy.ma.extras import column_stack
from scipy import stats
import statsmodels.api as sm

from data_source import get_data_frame, get_bpp_5_data, Dataset
from helpers import is_significant, clean_bpp_5_dataframes

%matplotlib inline
sns.set_theme()

In [2]:
enrol_df = get_bpp_5_data(Dataset.ENROL)
enrol_df.head(3)

data/bpp_topic_5_data/API_SE.PRM.ENRL.TC.ZS_DS2_en_csv_v2_131293.csv

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,44.58162,47.98298,48.78979,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
pupils_df = get_bpp_5_data(Dataset.ENROL)
pupils_df.head(3)

data/bpp_topic_5_data/API_SE.PRM.ENRL.TC.ZS_DS2_en_csv_v2_131293.csv

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,44.58162,47.98298,48.78979,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
spend_df = get_bpp_5_data(Dataset.ENROL)
spend_df.head(3)

data/bpp_topic_5_data/API_SE.PRM.ENRL.TC.ZS_DS2_en_csv_v2_131293.csv

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,44.58162,47.98298,48.78979,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
enrol_df = clean_bpp_5_dataframes(enrol_df)
enrol_df

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
2,Afghanistan,AFG,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,1970,41.22332
7,Arab World,ARB,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,1970,31.30673
9,Argentina,ARG,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,1970,19.24521
20,Bangladesh,BGD,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,1970,46.48234
29,Brazil,BRA,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,1970,28.01019
...,...,...,...,...,...,...
13027,World,WLD,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,2018,23.44631
13117,Ghana,GHA,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,2019,26.99486
13154,Kazakhstan,KAZ,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,2019,17.21457
13183,Monaco,MCO,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,2019,11.70000
13212,Nepal,NPL,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,2019,19.74396

In [6]:
pupils_df = clean_bpp_5_dataframes(pupils_df)
pupils_df

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
2,Afghanistan,AFG,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,1970,41.22332
7,Arab World,ARB,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,1970,31.30673
9,Argentina,ARG,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,1970,19.24521
20,Bangladesh,BGD,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,1970,46.48234
29,Brazil,BRA,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,1970,28.01019
...,...,...,...,...,...,...
13027,World,WLD,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,2018,23.44631
13117,Ghana,GHA,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,2019,26.99486
13154,Kazakhstan,KAZ,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,2019,17.21457
13183,Monaco,MCO,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,2019,11.70000
13212,Nepal,NPL,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,2019,19.74396

In [7]:
spend_df = clean_bpp_5_dataframes(spend_df)
spend_df

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
2,Afghanistan,AFG,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,1970,41.22332
7,Arab World,ARB,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,1970,31.30673
9,Argentina,ARG,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,1970,19.24521
20,Bangladesh,BGD,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,1970,46.48234
29,Brazil,BRA,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,1970,28.01019
...,...,...,...,...,...,...
13027,World,WLD,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,2018,23.44631
13117,Ghana,GHA,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,2019,26.99486
13154,Kazakhstan,KAZ,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,2019,17.21457
13183,Monaco,MCO,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,2019,11.70000
13212,Nepal,NPL,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,2019,19.74396

In [8]:
enrol_df = enrol_df.rename(columns={"Value": "Enrol_Value"})
pupils_df = pupils_df.rename(columns={"Value": "Pupils_Value"})
spend_df = spend_df.rename(columns={"Value": "Spend_Value"})

In [9]:
combined_df = (
    enrol_df.merge(
        pupils_df[["Country Code", "Year", "Pupils_Value"]],
        on=["Country Code", "Year"],
        how="left"
    )
    .merge(
        spend_df[["Country Code", "Year", "Spend_Value"]],
        on=["Country Code", "Year"],
        how="left"
    )
)
combined_df

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Enrol_Value,Pupils_Value,Spend_Value
0,Afghanistan,AFG,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,1970,41.22332,41.22332,41.22332
1,Arab World,ARB,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,1970,31.30673,31.30673,31.30673
2,Argentina,ARG,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,1970,19.24521,19.24521,19.24521
3,Bangladesh,BGD,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,1970,46.48234,46.48234,46.48234
4,Brazil,BRA,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,1970,28.01019,28.01019,28.01019
...,...,...,...,...,...,...,...,...
8210,World,WLD,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,2018,23.44631,23.44631,23.44631
8211,Ghana,GHA,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,2019,26.99486,26.99486,26.99486
8212,Kazakhstan,KAZ,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,2019,17.21457,17.21457,17.21457
8213,Monaco,MCO,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,2019,11.70000,11.70000,11.70000
8214,Nepal,NPL,"Pupil-teacher ratio, primary",SE.PRM.ENRL.TC.ZS,2019,19.74396,19.74396,19.74396